.put {
    font-size: 24px;
    color: #0061AA;
}

.textHeader {
    font-size: 25px;
    color: #002766;
}

.serviceTextHeader {
    font-size: 23px;
    font-weight: bold;
    color: #002766;
}

.serviceText {
    width: 800px;
    line-height: 35px;
    font-size: 23px;
    font-weight: normal;
    color: #0061AA;
}

.serviceText:hover {
    width: 800px;
    line-height: 35px;
    font-size: 23px;
    font-weight: normal;
    color: #0061AA;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.putText {
    line-height: 33px;
    font-size: 23px;
    font-weight: normal;
    color: #0061AA;
}

.block-partners {
    transition: all 0.2s;
}

.block-partners:hover .img {

    transform: scale(1.2);
    transform-origin: center;
}

.img {
    transition: all 0.5s;
}