.put {
    font-size: 24px;
    color: #0061AA;
}

.textHeader {
    font-size: 23px;
    color: #002766;

}
@media (max-width: 640px) {
    .textHeader {
        font-size: 16px;
        line-height: 22px;
    }
}

.serviceTextHeader {
    font-size: 23px;
    font-weight: bold;
    color: #002766;
}

@media (max-width: 640px) {
    .serviceTextHeader {
        font-size: 16px;
        line-height: 22px;
    }
}

.serviceText {
    max-width: 800px;
    line-height: 35px;
    font-size: 23px;
    font-weight: normal;
    color: #0061AA;
}
@media (max-width: 640px) {
    .serviceText {
        font-size: 16px;
        line-height: 22px;
    }
}

.serviceText:hover {

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.putText {
    line-height: 33px;
    font-size: 20px;
    font-weight: normal;
    color: #0061AA;
}

@media (max-width: 640px) {
    .putText {
        font-size: 16px;
        line-height: 18px;
    }
}

.block-partners {
    transition: all 0.2s;
}

.block-partners:hover .img {

    transform: scale(1.2);
    transform-origin: center;
}

.img {
    transition: all 0.5s;
}

.ul2 {
    font-size: 24px;
    color: #0061aa !important;
    text-align: justify;
    text-indent: 20px;
    line-height: 27px;
    list-style-type: disc;
}

.ul2>li {
    color: #002766;
    margin-right: 20px;
    padding-right: 20px;
}

.ul2>li>span {
    color: #002766;
    margin-right: 20px;
    padding-right: 20px;
}

.span1 {
    color: #002766;
    margin-right: 20px;
    padding-right: 20px;
}

.stroke {
    align-self: center;
    max-width: 1240px;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #ffffff00 0%, #0061AA 45%, #0061AA 55%, #ffffff00 100%);

}