.catalogContainer {
    align-self: center;
    max-width: 1400px;

    @media (max-width: 640px) {
        width: 100%;
        /* border: 1px solid red; */
    }
}

.block-decisions {
    justify-content: space-between;
    width: 100vh;
    max-width: 678px;
    height: 150px;
    border-radius: 10px;
    /* border: 1px solid #0061AA; */
    color: #003257;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.2s;
    font-size: 27px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    @media (max-width: 640px) {
        width: 97vw;
        font-size: 18px;
        height: 100px;
        z-index: 49;
        /* border: 1px solid blue; */

    }
}

.block-decisions:hover .img {

    transform: scale(1.03);
    transform-origin: left;

    @media (max-width: 640px) {

        z-index: 25;
        /* border: 1px solid blue; */

    }
}

.block-decisions:hover {

    transform: scale(1.05);
    transform-origin: center;
    transition: all 0.5s;
}

.img {
    align-items: end;
    transition: all 0.5s;

    @media (max-width: 640px) {
        width: 80px;
        height: 80px;

    }
}

.span {
    transition: all 0.5s;
    transform-origin: right;

    @media (max-width: 640px) {
        line-height: 25px;
    }
}

.block-decisions:hover .span {

    transform: scale(1.01);
}