.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background: transparent;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-top: 0;
}