.subCatalog {
    width: 100%;
    max-width: 1400px;
    min-width: none;
    align-content: center;
    height: auto;
    /* border: 1px solid red;  */
}

@media (max-width: 640px) {
    .subCatalog {
        border: 1px solid green;  
    }
}
.subMenu {
    border-radius: 10px;
    /* border: 1px solid blue; */
    width: 300px;
    height: fit-content;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.subCollapse {
    width: 300px;
    height: 50px;
    color: #0061AA !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.subCollapse:hover {
    background-color: #0060aa10;
    border-radius: 10px;
}

.subItem {
    height: 40px;
    width: 300px;
    color: #0077d2 !important;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.subItem:hover {
    background-color: #0060aa10;
    border-radius: 10px;
}

.subMenuDash {
    width: 300px;
    height: 20px;
    background-color: #0061AA;
    border-radius: 0 0 10px 10px;
    /* border: 1px solid red; */
}

.subMenuDashHead {
    text-align: center;
    width: 300px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
    font-size: 18px;
}
.headSubCatalogBlock {
    color: black;
    display: flex;
    text-align: center;
    padding: 5px;
    width: 210px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}
@media (max-width: 640px) {
    .headSubCatalogBlock {
        width: 160px;
  }
}
.headSubCatalogBlockMini {
    font-size: 12px;
    color: black;
    display: flex;
    text-align: center;
    padding: 5px;
    width: 142px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}
@media (max-width: 640px) {
    .headSubCatalogBlockMini {
        width: 108px;
        font-size: 10px;
        

  }
}
