.subCatalog {
    width: 1400px;
    /* border: 1px solid red; */
}

.subMenu {
    border-radius: 10px;
    /* border: 1px solid blue; */
    width: 300px;
    height: fit-content;
    font-size: 16px;
    background-color: #0061AA;
}

.subCollapse {
    width: 300px;
    height: 40px;
    background-color: #0091CC;
    color: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.subItem {
    height: 40px;
    width: 300px;
    background-color: #0061AA;
    color: white;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.subItem:hover {
    background-color: #0b0bc7;
}

.subMenuDash {
    width: 300px;
    height: 20px;
    background-color: #0061AA;
    border-radius: 0 0 10px 10px;
}

.subMenuDashHead {
    text-align: center;
    width: 300px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
    font-size: 18px;
}

.headSubCatalog {
    color: black;
    width: 180px;
    font-size: 14px;
    height: 60px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #007F3D;
}

.headSubCatalogBlock {
    display: flex;
    justify-content: center;
    width: 210px;
    border: 1px solid #4285F4;
    border-radius: 10px;
}

.headSubCatalogPhoto {
    padding: 5px;
    /* border: 1px solid #c70b0b; */

}