.catalogText {
    display: flex;
    flex-direction: column;
    width: 1050px;
    font-size: 18px;
    color: #0061AA;
    line-height: 27px;
}
.sharesText {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color: #0061AA;
    line-height: 28px;
}


.catalogContainer {
    width: 1050px;
    align-self: center;
    border: 1px solid  transparent;
    color: #0061AA;
    font-size: 18px;
    line-height: 22px;
}
.catalogContainerMain {
    width: 1400px;
    align-self: center;
    border: 1px solid  transparent;
    color: #0061AA;
    font-size: 18px;
    line-height: 22px;

}
.catalogContainerDeeper {
    width: 1050px;
    align-self: center;
    color: #0061AA;
    font-size: 18px;
    line-height: 22px;
}

.image-radius {
    border-radius: 10px;
    border: 1px solid #ff0000;
}

.block-decisions {
    width: 688px;
    height: 150px;
    border-radius: 10px;
    /* border: 1px solid #0061AA; */
    color: #003257;
    padding-left: 0px;
    padding-right: 0px;
    transition: all 0.2s;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.productText {
    font-size: 18px;
    font-weight: normal;
    color: #0061aa;
    text-align: justify;
    text-indent: 20px;
    line-height: 27px;
    width: 800px;
  }

.block-decisions:hover .img {

    transform: scale(1.03);
    transform-origin: left;
}
.block-decisions:hover  {

    transform: scale(1.05);
    transform-origin: center;
    transition: all 0.5s;
}
.img {
    align-items: end;
    transition: all 0.5s;

    padding: 0px;
}
.span {
    transition: all 0.5s;
    transform-origin: right;
}

.block-decisions:hover .span {

    transform: scale(1.01);
} 