.catalogText {
    display: flex;
    flex-direction: column;
    width: 1050px;
    font-size: 18px;
    color: #0061AA;
    line-height: 27px;
}
.sharesText {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color: #0061AA;
    line-height: 28px;
}
.catalogContainer {
    max-width: 1400px;
    align-self: center;
    border: 1px solid  transparent;
    color: #0061AA;
    font-size: 18px;
    line-height: 22px;
    @media (max-width: 640px) {
        width: 100%;
        /* border: 1px solid red; */
    }
}
.catalogContainerMain {
    max-width: 1400px;
    align-self: center;
    border: 1px solid  transparent;
    color: #0061AA;
    font-size: 18px;
    line-height: 22px;
    @media (max-width: 640px) {
        width: 100%;
        /* border: 1px solid red; */
    }

}
.catalogContainerDeeper {
    max-width: 1050px;
    width: 90vw;
    align-self: center;
    color: #0061AA;
    font-size: 18px;
    line-height: 22px;
}

.image-radius {
    border-radius: 10px;
    border: 1px solid #ff0000;
}
.block-decisions {
    max-width: 678px;
    width: 100vh;
    height: 150px;
    border-radius: 10px;
    /* border: 1px solid #0061AA; */
    color: #003257;
    padding-left: 0px;
    padding-right: 0px;
    transition: all 0.2s;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    @media (max-width: 640px) {
        width: 97vw;
        font-size: 12px;
        height: 100px;
        z-index: 49;
        /* border: 1px solid blue; */
    }
}
.productText {
    font-size: 18px;
    font-weight: normal;
    color: #0061aa;
    text-align: justify;
    text-indent: 20px;
    line-height: 27px;
    width: 800px;
  }
.block-decisions:hover .img {
    transform: scale(1.03);
    transform-origin: left;
}
.block-decisions:hover  {

    transform: scale(1.05);
    transform-origin: center;
    transition: all 0.5s;
}
.img {
    align-items: end;
    transition: all 0.5s;
    padding: 0px;
}
.span {
    transition: all 0.5s;
    transform-origin: right;
    position: relative;
    @media (max-width: 640px) {
        line-height: 25px;
        }
}
.block-decisions:hover .span {

    transform: scale(1.01);
} 

.downloadable {
    text-align: center;
    width: 254px;
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #0061AA;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
    border-radius: 10px;
}
