@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0 !important;
  font-family: var(--font-roboto) !important;
}

ul {
  overflow-y: hidden;
  list-style-type: none;
}

button {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
}

.h2 {
  font-size: 22px;
  font-weight: bold;
  color: #002766;
  margin-top: 20px;
  margin-bottom: 5px;
}

.h3 {
  font-size: 18px;
  font-weight: bold;
  color: #002766;
  text-align: justify;
  text-indent: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.h4 {
  font-size: 16px;
  font-weight: bold;
  color: #002766;
  text-align: justify;
  text-indent: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.img1 {
  padding: 4px;
  display: flex;
  float: left;

  width: 100%;
}

.img2 {
  padding-left: 4px;
  display: flex;
  float: right;

}

.img3 {
  padding-right: 4px;
  display: flex;
  float: left;
}

.ul1 {
  font-size: 16px;
  color: #0061aa !important;
  text-align: justify;

  line-height: 27px;
  list-style-type: disc;
}

.ul1>li {
  color: #0061aa !important;
}

.ul1>li>span {
  color: #0061aa !important;
  margin-right: 20px;
  text-indent: 20px;
}

.ul2 {
  font-size: 24px;
  color: #0061aa !important;
  text-align: justify;

  line-height: 27px;
  list-style-type: disc;
}

.ul2>li {
  color: #002766 !important;
  margin-right: 20px;
  padding-right: 20px;
}

.ul2>li>span {
  color: #002766 !important;
  margin-right: 20px;
  padding-right: 20px;
}

.ul3 {
  font-size: 18px;
  color: #0061aa !important;
  text-align: justify;

  line-height: 27px;
  list-style-type: disc;
}

.ul3>li {
  display: block;
  color: #0061aa !important;

  margin-left: 10px;
  padding-left: 10px;
}


.ul3>li>span {
  margin-right: 20px;
}


.ul4 {
  font-size: 16px;
  color: #ffffff !important;
  text-align: left;
  list-style-type: none;
}
@media (max-width: 640px) {
    .ul4 {
        font-size: 14px;
    }
}

.ul4>li {
  display: block;
  color: #ffffff !important;
}
@media (max-width: 640px) {
    .ul4 {
        font-size: 14px;
    }
}
.ul4>li>span {
  color: #ffffff !important;
}
@media (max-width: 640px) {
    .ul4 {
        font-size: 14px;
    }
}

.productText {
  font-size: 16px;
  font-weight: normal;
  color: #0061aa;
  text-align: justify;
  text-indent: 20px;
  line-height: 27px;
}

.productTextBack {
  font-size: 14px;
  font-weight: normal;
  color: #0061aa;
  background-color: #f8f8f8;
  text-align: justify;
}

.productDesc {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-align: justify;
  text-indent: 20px;
  line-height: 27px;
}

.stroke {
  align-self: center;
  width: 100%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ffffff00 0%, #0061AA 45%, #0061AA 55%, #ffffff00 100%);

}

.table1 {
  margin-top: 20px;
  font-size: 14px;
  color: #0061aa;
  line-height: 27px;
}

.thead1 {
  font-size: 16px;
  color: #0061aa;
  line-height: 27px;
}

/*loader styles*/
.lds-roller {
  /* change color here */
  color: #1c4c5b
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*loader styles*/
.lds-roller-container1 {
  position: absolute;
  /* Change to absolute or fixed based on your need */
  top: 50%;
  /* Adjust position */
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center it in the middle of the screen */
}

.lds-roller1 {
  /* change color here */
  color: #1500ffaa
}

.lds-roller1,
.lds-roller1 div,
.lds-roller1 div:after {
  box-sizing: border-box;
}

.lds-roller1 {
  transform: scale(0.2);
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-roller1 div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform: scale(0.2);
  transform-origin: 40px 40px;
}

.lds-roller1 div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller1 div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller1 div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller1 div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller1 div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller1 div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller1 div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller1 div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller1 div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller1 div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller1 div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller1 div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller1 div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller1 div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller1 div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller1 div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller1 div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}