@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto")format("svg");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0 !important;
  font-family: "Roboto", sans-serif;
}

ul {
  
  overflow-y: hidden;
}

button {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #002766;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  color: #002766;
  text-align: justify;
  text-indent: 20px;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  color: #002766;
  text-align: justify;
  text-indent: 20px;
}

.ul1 {
  font-size: 14px;
  font-weight: normal;
  color: #0061AA;
  text-align: justify;
  text-indent: 20px;
  line-height: 27px;
  list-style-type: disc;
}

.productText {
  font-size: 14px;
  font-weight: normal;
  color: #0061AA;
  text-align: justify;
  text-indent: 20px;
  line-height: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
}
