.navigation {
  margin-top: 0vh;
  max-height: 100%;
  display: flex;
  align-self: center;
  max-width: 1400px;
  width: 100%;
  align-items: center;
  background-color: #0061AA;
  text-wrap: nowrap;
  /* border: 1px solid green; */
}

.colorBlue {
  background-color: #0061AA;
  height: 50px;
}

.back {
  width: 240px;
  height: 50px;
  /* border: 1px solid red; */
  margin-top: 0vh;
  display: flex;
  align-self: center;
  align-items: center;
  background: radial-gradient(circle farthest-side, #ffffff 10%, #0061AA);
}

.backText {
  margin-top: 0vh;
  align-self: center;
  align-items: center;
  margin-left: 10px;
  height: 100%;
  font-family: Roboto;
  color: white;
  /* border: solid 1px blue; */
  background-color: #0061AA;
}


.link {
  height: 50px;
  padding: 15px 11px 15px 11px;
  color: white;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.active {
  height: 50px;
  padding: 15px 15px 15px 15px;
  color: rgb(255, 255, 255);
  background-color: #002766;
  border-bottom: 3px solid #007F3D;
}

.link:hover {
  transition: all 1.0s;
  background: #00276663;
  border-bottom: 3px solid #007F3D;
}