.navigation {
  margin-top: 0vh;
  height: 50px;
  display: flex;
  align-self: center;
  width: 1400px;
  align-items: center;
  background-color: #0061AA;
}

.colorBlue {
  background-color: #0061AA;
  height: 50px;
}

.back {
  width: 240px;
  margin-top: 0vh;
  display: flex;
  align-self: center;
  align-items: center;
  height: 50px;
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(0,97,170,1) 98%, rgba(0,97,170,1) 100%, rgba(255,255,255,0.4962359943977591) 4250%);
   */
   background: radial-gradient(circle farthest-side, #ffffff, #0061AA);
}

.backText {
  margin-top: 0vh;
  align-self: center;
  align-items: center;
  margin-left: 10px;
  height: 100%;
  font-family: Roboto;
  font-size: 18px;
  color: white;
  /* border: solid 1px blue; */
  background-color: #0061AA;
}


.link {
  font-size: 18px;
  height: 100%;
  padding: 15px 15px 15px 15px;
  color: white;

  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.active {
  height: 100%;
  padding: 15px 15px 15px 15px;
  color: rgb(255, 255, 255);
  background-color: #002766;
  border-bottom: 3px solid #007F3D;
}

.link:hover {
  transition: all 1.0s;
  background: #00276663;
  border-bottom: 3px solid #007F3D;
}