.aboutText {

    height: auto;
    color: #0061AA;
    line-height: 22px;
    @media (max-width: 640px) {
        width: 100%;
        /* border: 1px solid red; */
        line-height: 20px;
    }
}
.aboutContainer {
    max-width: 1400px;
    /* border: 1px solid #ff0000; */
}

.aboutDecisions {
    align-self: center;
    width: 100%;
    /* border: 1px solid #2f00ff; */
}

.image-radius {
    border-radius: 10px;
    border: 1px solid #ff0000;
}

.block-decisions {
    /* margin: 0px 40px 10px 40px ; */
    padding-bottom: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #0061AA;
    color: #003257;
}


.block-decisions:hover .img {

    transform: scale(1.1);
    transform-origin: top;
}
.img {
    transition: all 0.5s;
}
.span {
    transition: all 0.5s;
    transform-origin: bottom;
}

.block-decisions:hover .span {

    transform: scale(1.15);
}

.stroke {
    align-self: center;
    max-width: 1240px;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #ffffff00 0%, #0061AA 45%, #0061AA 55%, #ffffff00 100%);

}

/* @keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
} */