.aboutText {
    display: flex;
    flex-direction: column;
    width: 1050px;
    font-size: 18px;
    color: #0061AA;
    
    line-height: 27px;
}

.aboutMainPhoto {
    width: 300px;
    height: 300px;
    background-image: url("../../../public/aboutDM.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.aboutContainer {
    align-self: center;
    width: 1400px;
    /* border: 1px solid #ff0000; */
}

.aboutDecisions {
    align-self: center;
    width: 100%;
    /* border: 1px solid #2f00ff; */
}

.image-radius {
    border-radius: 10px;
    border: 1px solid #ff0000;
}

.block-decisions {
    /* margin: 0px 40px 10px 40px ; */
    padding-bottom: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #0061AA;
    color: #003257;
}


.block-decisions:hover .img {

    transform: scale(1.1);
    transform-origin: top;
}
.img {
    transition: all 0.5s;
}
.span {
    transition: all 0.5s;
    transform-origin: bottom;
}

.block-decisions:hover .span {

    transform: scale(1.15);
}



/* @keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
} */