.whiteText {
        color: #ffffff !important; 
}
.main {
    max-width: 1400px;
}
.leftContainer {
    text-indent: 15px;
    display: flex;
    max-width: 1400px;
    font-size: 18px;
    color: #0061AA;
    line-height: 27px;
    margin: 10px auto 10px auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.leftContainer img {
    min-height: 300px;
    /* відповідно до height з Image */
}
.container {
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: #ECF3FE;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.servContainer {
    max-width: 1400px;
    width: 100%;
    background-color: #ECF3FE;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: #0061AA;
    font-size: 18px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.servButton {
    max-width: 1400px;
    width: 100%;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    text-align: center;
    color: #0061AA;
    font-size: 18px;
}
.servContainer1 {
    max-width: 1100px;
    width: 100%;
    color: #0061AA;
    font-size: 18px;
}
.form {
    margin: 5px;
    min-width: 200px;
    max-width: 400px;
    width: 90%;
    border: 1px solid #0061AA;
    color: #002766;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    resize: none;
    outline: none;
}

.form::placeholder {
    font-size: 18px;
}

.sendUsMessage {
    width: 100%;
    color: #002766;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 24px;
}

.howUsFind {
    width: 100%;
    color: #002766;
    padding-top: 10px;
    text-align: center;
    font-size: 24px;
}

.yerSubmit {
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    width: 90%;
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 18px;
    color: #000;
    background-color: #ECF3FE;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.yerSubmit:hover {
    transition: all 0.5s;
    background: #002766;
    color: #ffffff;
    font-size: 18px;
}

.servSubmit {
    text-align: center;
    max-width: 400px;
    font-size: 18px;
    color: #000;
    padding: 10px;
    background-color: #ECF3FE;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.servSubmit:hover {
    transition: all 0.5s;
    background: #002766;
    color: #ffffff;
    font-size: 18px;
}

.servSubmit1 {
    text-align: center;
    max-width: 400px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    background-color: #0061AA;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.servSubmit1:hover {
    transition: all 0.5s;
    background: #002766;
    color: #ffffff;
    font-size: 18px;
}

.stroke {
    align-self: center;
    max-width: 1240px;
    width: 100vw;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #ffffff00 0%, #0061AA 45%, #0061AA 55%, #ffffff00 100%);

}