.custom-path {
  fill: #0061AA;
  opacity: 0.5;
}

.custom-path:hover {
  fill: #0061AA;
  opacity: 1;
}

.info-section {
  font-size: large;
  color: #f6dd97;
  width: 350px;
  height: 80px;
  background-color: #0061AA;
  border-radius: 10px;
}
.info-section-description {
  font-size: medium;
  color: #002766;
  padding: 10px;
  width: 340px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}
